body {
   background-color: blueviolet;
}

.container {
   display: flex;
   align-items: flex-start;
   justify-content: space-between;
   padding: 20px;
}
.text {
   max-width: 40%;
   margin-right: 10%;
   font-size: 18px;
}
.image {
   max-width: 50%;
   height: auto;
}

.custom-button {
   background-color: rgb(218, 202, 233); /* cor do botão */
   border: none;
   color: 000000; /* Preto */
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   margin: 4px 2px;
   cursor: pointer;
   border-radius: 12px;
}

.custom-button:hover {
   border: none;
   background-color: rgb(218, 202, 233); /* cor do botão */
}

@media (max-width: 768px) {
   .container {
       flex-direction: column;
       align-items: center;
       text-align: center;
   }
   .text, .image {
       max-width: 100%;
       margin-right: 0;
   }
   .custom-button {
       margin-top: 20px;
   }
}